apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: rhdh-sso

resources:
# Injecting the secrets from the .secrets directory into the base directory
# demo only - Use ESO/Vault for production
  - ../../.secrets/instances/rhdh

patches:
  - path: patches/backstage.yaml
    target:
      kind: Backstage
      name: developer-hub